/**/

.container-fluid{
    background-color: #889bab;
}

.container-app{
    background-color: white;
}
.card-header{
    background-color: #008C38;
}

.card-header h1{
    color: white;

}

.img-thumbnail{
    width: 50%;
}



